/EjercicioPOON05/nbproject/private/
/EjercicioPOON05/build/
/EjercicioPOON06/nbproject/private/
/EjercicioPOON06/build/
/EjercicioPOON07/nbproject/private/
/EjercicioPOON07/build/
/EjercicioPOON01/build/
/EjercicioPOON08/nbproject/private/
/EjercicioPOON08/build/
/EjercicioPOON09/nbproject/private/
/EjercicioPOON09aa/nbproject/private/
/EjercicioPOON09/build/
/ejercicio7/nbproject/private/
/EjercicioPOON11/nbproject/private/
/EjercicioPOON11/build/
/EjercicioPOON12/nbproject/private/
/Ejercicio8+/nbproject/private/